/*font Variables*/
/*Color Variables*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
html,
body {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
}
@media (max-width: 500px) {
  html,
  body {
    width: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFF369;
}
@media (max-width: 800px) {
  nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  nav {
    width: 100%;
  }
  nav .navlogo {
    display: none;
  }
}
nav .navlogo {
  width: 40%;
}
nav .navcontainer {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 25%;
}
@media (max-width: 500px) {
  nav .navcontainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
nav .navcontainer a {
  color: #0093ff;
  font-size: 1.6rem;
  text-decoration: none;
  height: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  nav .navcontainer a {
    border: 1px solid black;
    background: #ff7600;
    width: 40%;
    margin: 3% 0 3% 0;
    text-align: center;
    font-size: 2rem;
    align-self: center;
  }
}
.bancontainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0 0 0 0;
  height: 700px;
  background-size: cover;
  background-color: gray;
  background-blend-mode: soft-light;
}
@media (max-width: 500px) {
  .bancontainer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 75%;
    width: 100%;
    background-size: 100%;
  }
}
.bancontainer .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
}
@media (max-width: 500px) {
  .bancontainer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40% 0 0 0;
    width: 100%;
  }
}
.bancontainer .container img {
  margin: 2% 0;
  width: 70%;
  max-width: 100%;
  height: auto;
  align-self: center;
}
@media (max-width: 800px) {
  .bancontainer .container img {
    width: 100%;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .bancontainer .container img {
    width: 70%;
    height: auto;
    margin: 0;
  }
}
.bancontainer .container p {
  margin: 0 0 2% 0;
  color: white;
  text-shadow: 2px 2px black;
  align-self: center;
  text-align: center;
}
@media (max-width: 500px) {
  .bancontainer .container p {
    width: 100%;
  }
}
.bancontainer .container .cta-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 500px) {
  .bancontainer .container .cta-button {
    width: 100%;
  }
}
.bancontainer .container .cta-button button {
  border-radius: 10px;
  width: 50%;
  height: 45px;
  font-size: 1.8rem;
  background: #ff7600;
  color: white;
  border: none;
}
@media (max-width: 800px) {
  .bancontainer .container .cta-button button {
    height: auto;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .bancontainer .container .cta-button button {
    width: 50%;
    height: auto;
  }
}
.bancontainer .container .cta-button button:hover {
  background: #FFCE00;
  color: white;
}
.bottom-content {
  padding: 5% 0 0 0;
  display: flex;
  justify-content: space-between;
  background: #eaf6ff;
  width: 100%;
}
@media (max-width: 800px) {
  .bottom-content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .bottom-content {
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
.bottom-content .container {
  display: flex;
}
@media (max-width: 500px) {
  .bottom-content .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
}
.bottom-content .image {
  width: 45%;
  height: 10%;
  margin: 0 0 5% 5%;
}
@media (max-width: 800px) {
  .bottom-content .image {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .bottom-content .image {
    display: none;
    width: 100%;
  }
}
.bottom-content .image img {
  height: auto;
  width: 80%;
}
@media (max-width: 800px) {
  .bottom-content .image img {
    height: auto;
    width: 100%;
  }
}
.bottom-content .bottom-text {
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 800px) {
  .bottom-content .bottom-text {
    width: 100%;
    margin: 0 0 0 5%;
  }
}
@media (max-width: 500px) {
  .bottom-content .bottom-text {
    width: 100%;
  }
}
.bottom-content .bottom-text h1 {
  border-bottom: 1px solid #666666;
  width: 45%;
  margin: 0 0 3% 0;
}
@media (max-width: 800px) {
  .bottom-content .bottom-text h1 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .bottom-content .bottom-text h1 {
    width: 90%;
    text-align: center;
  }
}
.bottom-content .bottom-text p {
  width: 50%;
}
@media (max-width: 800px) {
  .bottom-content .bottom-text p {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .bottom-content .bottom-text p {
    width: 90%;
    text-align: center;
  }
}
.biocontainer {
  width: 100%;
  background: #eaf6ff;
}
@media (max-width: 800px) {
  .biocontainer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .biocontainer {
    width: 100%;
    margin: 2% 0 0 0;
  }
}
.biocontainer .bio1 {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5% 5% 2% 5%;
}
@media (max-width: 800px) {
  .biocontainer .bio1 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .biocontainer .bio1 h2 {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio1 p {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio1 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .biocontainer .bio1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 3% 0;
    margin: 0 0 7% 0;
    border-bottom: 1px solid #ff7600;
  }
  .biocontainer .bio1 h2 {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio1 p {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio1 img {
    width: 100%;
    height: auto;
  }
}
.biocontainer .bio1 h2 {
  text-align: center;
  width: 100%;
}
.biocontainer .bio1 p {
  text-align: center;
  width: 100%;
}
.biocontainer .bio1 img {
  width: 100%;
  height: auto;
}
.biocontainer .bio1 .bio1pic {
  width: 30%;
}
@media (max-width: 800px) {
  .biocontainer .bio1 .bio1pic {
    width: 30%;
    height: auto;
    margin: 0 5% 0 0;
  }
}
@media (max-width: 500px) {
  .biocontainer .bio1 .bio1pic {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
.biocontainer .bio1 .bio1-text {
  margin: 0;
  width: 40%;
  align-self: center;
}
@media (max-width: 800px) {
  .biocontainer .bio1 .bio1-text {
    width: 50%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .biocontainer .bio1 .bio1-text {
    width: 95%;
    margin: 0;
  }
}
.biocontainer .bio2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  padding: 2% 5% 2% 5%;
}
@media (max-width: 800px) {
  .biocontainer .bio2 {
    width: 100%;
    display: flex;
  }
  .biocontainer .bio2 h2 {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio2 p {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio2 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .biocontainer .bio2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 3% 0;
    margin: 0 0 7% 0;
    border-bottom: 1px solid #ff7600;
  }
  .biocontainer .bio2 h2 {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio2 p {
    text-align: center;
    width: 100%;
  }
  .biocontainer .bio2 img {
    width: 100%;
    height: auto;
  }
}
.biocontainer .bio2 h2 {
  text-align: center;
  width: 100%;
}
.biocontainer .bio2 p {
  text-align: center;
  width: 100%;
}
.biocontainer .bio2 img {
  width: 100%;
  height: auto;
}
.biocontainer .bio2 .bio2pic {
  width: 30%;
}
@media (max-width: 800px) {
  .biocontainer .bio2 .bio2pic {
    width: 30%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .biocontainer .bio2 .bio2pic {
    width: 100%;
    align-items: center;
    height: auto;
    max-width: 100%;
  }
}
.biocontainer .bio2 .bio2-text {
  margin: 0 0 0 20%;
  width: 40%;
  align-self: center;
}
@media (max-width: 800px) {
  .biocontainer .bio2 .bio2-text {
    width: 50%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .biocontainer .bio2 .bio2-text {
    width: 100%;
    align-self: center;
    margin: 0;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FFF369;
}
@media (max-width: 800px) {
  footer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
}
footer .contact {
  width: 40%;
}
@media (max-width: 500px) {
  footer .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .contact p {
    word-wrap: break-word;
  }
}
footer .contact a {
  color: #666666;
  font-size: 1.6rem;
}
footer .contact a:hover {
  color: #0093ff;
}
footer .footernav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 25%;
}
@media (max-width: 500px) {
  footer .footernav {
    display: none;
  }
}
footer .footernav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #0093ff;
  height: 50%;
  text-align: center;
}
