.biocontainer {

    @media @tablet {
        width: 100%;
    }

    @media @phone {
        width: 100%;
        .flex-align();
        margin: 2% 0 0 0;

    }//end media
    
    .flex-align () {
    }//end .flex-align

    width: 100%;
    background: @bg-color;

    .bio1 {

        @media @tablet {

            width: 100%;
            display: flex;
            flex-direction: row;
            
            h2 {
                text-align: center;
                width: 100%;
            }//end h2

            p {
                text-align: center;
                width: 100%
            }//end p

            img {
                width: 100%;
                height: auto;
            }//end img
        }//end media

        @media @phone {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 0 3% 0;
            margin: 0 0 7% 0;
            border-bottom: 1px solid @cta-color;

            h2 {
                text-align: center;
                width: 100%;
            }//end h2

            p {
                text-align: center;
                width: 100%;                
            }//end p

            img {
                width: 100%;
                height: auto;
            }//end img
        }//end media
        
        h2 {
            text-align: center;
            width: 100%;
        }//end h2

        p {
            text-align: center;
            width: 100%
        }//end p

        img {
            width: 100%;
            height: auto;
        }//end img

        .bio1pic {

            @media @tablet {
                width: 30%;
                height: auto;
                margin: 0 5% 0 0;
            }//end media

            @media @phone {
                width: 100%;
                height: auto;
                max-width: 100%;
            }//end media

            width: 30%;
        }//end.bio1pic

        .bio1-text {

            @media @tablet {
                width: 50%;
                margin: 0;
            }
            @media @phone {
                width: 95%;
                margin: 0;
            }//end media
            
            margin: 0;
            width: 40%;
            align-self: center;
        }//end .bio1-text

        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 5% 5% 2% 5%;
    }//end .bio1

    .bio2 {

        @media @tablet {

            width: 100%;
            display: flex;

            h2 {
                text-align: center;
                width: 100%;
            }//end h2

            p {
                text-align: center;
                width: 100%
            }//end p

            img {
                width: 100%;
                height: auto;
            }//end img
        }//end media

        @media @phone {

            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 0 3% 0;
            margin: 0 0 7% 0;
            border-bottom: 1px solid @cta-color;

            h2 {
                text-align: center;
                width: 100%;
            }//end h2

            p {
                text-align: center;
                width: 100%;
            }//end p

            img {
                width: 100%;
                height: auto;
            }//end img
        }//end media

        h2 {

            text-align: center;
            width: 100%;
        }//end h2

        p {

            text-align: center;
            width: 100%
        }//end p

        img {

            width: 100%;
            height: auto;
        }//end img

        .bio2pic {

            @media @tablet {
                width: 30%;
                height: auto;
            }//end media

            @media @phone {
                width: 100%;
                align-items: center;
                height: auto;
                max-width: 100%;
            }//end media

            width: 30%;
        }//end .bio2pic

        .bio2-text {

            @media @tablet {
                width: 50%;
                margin: 0;
            }

            @media @phone {
                width: 100%;
                align-self: center;
                margin: 0;
            }//end media

            margin: 0 0 0 20%;
            width: 40%;
            align-self: center;
        }//end .bio2-text

        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;
        padding: 2% 5% 2% 5%;
    }//end .bio2
}//end .biocontainer