

.bancontainer {

	@media @phone {
		padding: 0;
		display: flex;
		flex-direction: column;
		align-content: center;
		height: 75%;
		width: 100%;
		background-size: 100%;
	}//end media

	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding: 0 0 0 0;
	height: 700px;
	background-size: cover;
	background-color: gray;
	background-blend-mode: soft-light;

	.container {

		@media @phone {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 40% 0 0 0;
			width: 100%;
				
		}//end media

		display: flex;
		flex-direction: column;
		align-self: center;
		width: 40%;

		img {

			@media @tablet {
				width: 100%;
				align-self: center;
			}

			@media @phone {
				width: 70%;
				height: auto;
				margin: 0;
			}
			
			margin: 2% 0;
			width: 70%;
			max-width: 100%;
			height: auto;
			align-self: center;
		}
		
		p {
			@media @phone {
				width: 100%;
			}//end media
			
			margin: 0 0 2% 0;
			color: white;
			text-shadow: 2px 2px black; 
			align-self: center;
			text-align: center;
		}//end p

		.cta-button {

			@media @phone {
				width: 100%;
			}//end media

			display: flex;
			flex-direction: row;
			justify-content: center;
			button {

				@media @tablet {
					height: auto;
					width: 60%;
				}//end media

				@media @phone {
					width: 50%;
					height: auto;
				}//end media
				
				border-radius: 10px;
				width: 50%;
				height: 45px;
				font-size: 1.8rem;
				background: @cta-color;
				color: white;
				border: none;

    			&:hover {
       			 background: @primary-color;
       			 color: white;
    			}//end hover		
			}//end button
		}//end .cta-button	
	}//end .container
}//end .bancontainer

	

	

	
	


