/*font Variables*/
@text-font: 'Roboto', sans-serif;
@title-font: 'Poppins', sans-serif;

/*Color Variables*/
@primary-color: #60bc0f;
@primary-color2: #fdbb00;
@title-color: #222222;
@text-color: #777777;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:500,600|Roboto');