/*font Variables*/
@text-font: 'Roboto', sans-serif;
@title-font: 'Poppins', sans-serif;

/*Color Variables*/
@primary-color: #FFCE00;
@primary-color2: #FFF369;
@cta-color: #ff7600;
@text-color: #666666;
@links-color: #0093ff;
@bg-color: #eaf6ff;



//mobile var
@phone: ~"(max-width: 500px)";